#red
{
    width:100px;
    height:100px;
    margin:25px;
    padding:25px;
background-color: rgba(255,0,0,.75) ; /* RGBA color system with A-> alpha channel which defines opacity*/
display: inline-block;

}

#blue{
    width:100px;
    height:100px;
    margin:25px;
    padding:25px;
background-color: blue;
display: inline-block;
display: none;


}

#green{
    width:100px;
    height:100px;
    margin:25px;
    padding:25px;
background-color: green;
display: inline-block;
visibility: hidden;


}