body{
    text-align: center;
}

div{
    
    height: 100px    ;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}


#container{
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    /* flex-wrap: wrap; */
    align-items:flex-start ;
    /* align-content: flex-start; */
   
}

#box1{
    background-color: blueviolet;
}
#box2{
    background-color:greenyellow;
}
#box3{
    background-color: aqua;
    height: 200px;
    flex-grow: 2;
}
#box4{
    background-color:red;
flex-grow: 3;
}

#box5{
    background-color: brown;
}