
body{
    background-color:bisque;
}  

#line1{
    color:aquamarine;
}
#line2{
    color: aqua;
}
#line3{
    color:blueviolet;
}
#line4{
    color:magenta;
}

#para1{
    color: red;
    background-color:bisque;
    text-align: end;
}
*{
    font-weight: 900;
}

#para1::first-letter  {
    color: blue;
    
}

#line1{
    color: red;
    background-color: aqua;
}

.one{
    color: pink;
    border-color: blue;
    text-transform:capitalize;
    text-indent: 50%;
    letter-spacing: 10px;
}